/.pybuild/
/debian/.debhelper/
/debian/changelog.*
/debian/files
/debian/source/local-options
/debian/split-gpg2*.debhelper*
/debian/split-gpg2.substvars
/debian/split-gpg2/
/pkgs/
/splitgpg2.egg-info/
