# Policy for qubes.Gpg2 service.
#
# Add line like this:
#
# qubes.Gpg2 + gpg-client-vm @default allow target=gpg-server-vm
#
# to allow the VM named 'gpg-client-vm' use (but not export) the private keys
# in 'gpg-server-vm'.
