[Unit]
Description=split-gpg2 client
ConditionPathExists=/run/qubes-service/split-gpg2-client
After=qubes-misc-post.service
Requires=user@1000.service

[Service]
ExecStart=/usr/share/split-gpg2/split-gpg2-client
StandardOutput=journal
StandardError=journal
User=user
Group=user

[Install]
WantedBy=multi-user.target
